* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #083D77;
  color: #eee;
}

.settings-container {
  position: fixed;
  width: 99vw;
  background: red;
  margin: 10px;
}

.settings-main {
  min-height: calc(1vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
0% { min-height: calc(1vh); }
100% { min-height: calc(50vh); }
}

@keyframes slide {
  0% { min-height: calc(1vh); }
100% { min-height: calc(50vh); }
}


.settings-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-button {
  margin: 1rem;
  padding: 3rem;
  background-color: transparent;
  border: #eee solid 3px;
  border-radius: 25%;
  color: #eee
}
