* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.settings-container {
  position: fixed;
  width: 99vw;
  background: red;
  margin: 10px;
}

.settings-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__icon {
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
}
.nav__icon:focus {
  outline: none;
}

.nav__icon-line {
  position: absolute;
  display: block;
  background: #fff;
  width: 27px;
  height: 0.2rem;
  border-radius: 0.2rem;
  left: 0;
  text-indent: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}
.nav__icon-line:first-child {
  top: 0;
}
.nav__icon-line:nth-child(2) {
  top: 8px;
}
.nav__icon-line:nth-child(3) {
  top: 16px;
}

input[type=checkbox] {
  display: none;
  visibility: hidden;
}
input[type=checkbox]:checked ~ nav .nav__items {
  height: auto;
  max-height: 30rem;
  transition: all 2s cubic-bezier(0.5, 1, 0.22, 1);
}
input[type=checkbox]:checked ~ label .nav__icon-line:first-child {
  top: 0px;
  width: 27px;
  transform: translateX(-8px) rotate(-45deg) translateY(12px);
}
input[type=checkbox]:checked ~ label .nav__icon-line:nth-child(2) {
  opacity: 0;
}
input[type=checkbox]:checked ~ label .nav__icon-line:nth-child(3) {
  top: 14px;
  width: 27px;
  transform: translateX(-5px) rotate(45deg) translateY(-8px);
}
